th {
    text-align: center;
    background-color: #ffc107;
    color: #000000;
}
td,
th {
    border: 1px solid #868583;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: #ececec;
}